body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #a7c6ed 0%, #5c9fd5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-formulario {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px 30px;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 1500px; /* Define um limite máximo de largura */
    text-align: center;
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 30px;
    margin-bottom: 25px;
    color: #444;
    font-weight: 600;
}

.secao-formulario {
    margin: 20px 10px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 15px;
    background-color: #f9f9f9;
}

.secao-formulario h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.upload-arquivos label {
    display: block;
    width: 80%;
    padding: 15px;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.upload-arquivos label:hover {
    border-color: #6dd5ed;
    background-color: #fff;
}

button {
    background: linear-gradient(135deg, #6dd5ed 0%, #2193b0 100%);
    color: #fff;
    border: none;
    padding: 15px 40px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    width: 80%;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(33, 147, 176, 0.7);
}

@media (max-width: 768px) {
    .form-container {
        padding: 25px;
    }

    h1 {
        font-size: 26px;
    }

    .form-section {
        padding: 15px;
    }

    button {
        width: 100%;
    }
}
